<p>
    <a routerLink="/admin/product/new" class="btn btn-primary">New Product</a>
</p>

<input type="text" #query (keyup)="filter(query.value)" class="form-control" placeholder="...Search">
<table class="table">
<thead>
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let i of filteredProduct">
        <td>{{i.title}}</td>
        <td>{{i.price}}</td>
        <td><a [routerLink]="['/admin/product/',i.$key]">Edit</a></td>
    </tr>
</tbody>

</table>