<div class="row">
    <div class="col-3">
        <product-filter [category]="cate"></product-filter>
    </div>
    <div class="col-9">
        <div class="row">
            <ng-container *ngFor="let i of filteredProduct; let i = index">
                <div class="col-12" style="display: contents;">
                    <app-productcard [product]="i"></app-productcard>
                </div>
                <br *ngIf="(i + 1) % 2 === 0" />
            </ng-container>
        </div>
    </div>
</div>